*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    text-align: left;
    font-size: 28px;
    margin-left: 1%;
    margin-top: 2%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: -2%;
    margin-right: 1%;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:black;
    background-color: aqua;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: rgb(70, 247, 0);
    color: rgb(255, 255, 255);
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text h1{
    font-size: 68px;
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
}
.text h2{
    margin-top: 2%;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
}
.button{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    background-color: aqua;
    color: black;
}
.btn:hover{
    background-color: rgb(70, 247, 0);
    color: rgb(255, 255, 255);
}